<h2 id="title" class="title">Validate Form</h2>
{{#validate-form
  elementCssIdentifiersArrayJson='["#number-test","#text-test"]'
  errorClass="form-control--error"
  buttonId="#submitForm"
}}
  <div class="number">
    {{input type='number' value=numberTest required='true' id="number-test"}}
  </div>
  <br />
  <div class="text">
    {{input type='text' value=textInput required='true' id="text-test"}}
  </div>
  <a id="submitForm" class="button">Continue</a>
{{/validate-form}}
